<%-include('header')-%>

<div class="text-center center-div mt-4" id="login">
    <div class="container w-25 border py-5 mt-5">
    <h2>Welcome</h2>
    <p id="h1"><%= content.email %></p>
    <p></p>
    <a href="/route/logout"><button type="submit" class="btn btn-outline-success">LogOut</button></a>
    </div>
</div>

<%-include('footer')-%>