body{
    font-family: 'Courier New', Courier, monospace;
    background-image: url("/assets/bg.png");
    background-size: cover;
}

.center-div{
    padding-top:10%;
}

.btn.btn-success{
    padding: 0.4em 2em;;
}
form{
    padding: 0 3 em;
}

#login.title>span{
    font-size: 8em;
}
.mail,.pass{
    margin-bottom: 10px;
}
.log{
    margin-top: 100px;
}